h1{
    text-align: center;
}
nav ul il {
    display: inline;
    margin: 15px;


}
nav ul li a {
    text-decoration: none;
    color: brown;
}
body{

   background-color:rosybrown
} 
#parents{
    background-color: rgb(255, 0, 76);
}
#child1{
    background-color: deeppink;
}
#child2{
    background-color: blueviolet
;
}
#child3{
    background-color: coral;
}